{{ $whichdir := .Whichdir }}

<button id="download_all_button">Download All</button>
<article id="items" style="max-height:30rem" class="overflow-auto">
{{ if .Paths }} 
    {{ range $path := .Paths }} 
    <div> 
        <a href="/slopmeup?soup={{$whichdir}}%2F{{$path}}" download="{{$path}}" >{{$path}}</a>
    </div>
    {{ end }}
{{ else }} 
    <b>no files found</b>
{{ end }}
</article>
<script>
    window.onload = function() {
        var downloadAllButton = document.getElementById("download_all_button");
        downloadAllButton.onclick = function() {
            var as = document.getElementsByTagName("a");
            for (i=0;i<as.length;i++) {
                var a = as[i];
                a.click();
            }
        }
    }
</script>
