[Unit]
Description=Cabinet
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=exec
User=cabinet
Group=cabinet
ExecStart=/usr/local/bin/cabinet
StandardError=journal
StandardOutput=journal
WorkingDirectory=/usr/local/share/CabinetData/

[Install]
WantedBy=multi-user.target
